<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>
        <package android:name="com.google.android.deskclock" />
        <package android:name="com.ipass.ipassmoney" />
        <package android:name="tw.com.twmp.twhcewallet" />
        <package android:name="tw.com.youbike.plus" />
        <package android:name="com.global.foodpanda.android" />
        <package android:name="com.ubercab" />
        <package android:name="com.ubercab.eats" />
        <package android:name="com.nianticlabs.pikmin" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/notification_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveStatusReminder">
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.YouBikeRegionPickerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.LiveStatusReminder.Dialog" />

        <receiver
            android:name=".YouBikeFareAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MediaPlaybackActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".YouBikeTrackingActionReceiver"
            android:exported="false" />

        <service
            android:name=".LiveStatusNotificationListenerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
